.container {
  width: 100%;
  padding: 20px 30px;
  min-height: calc(100vh - 150px);
  h1 {
    text-align: center;
    margin: 20px 0;
    color: rgb(67, 126, 255);
  }

  @media (max-width: 600px) {
    padding: 10px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    .product {
      display: flex;
      flex-direction: column;
      width: 20%;
      height: 400px;
      border-radius: 7px;
      background-color: azure;
      overflow: hidden;

      @media (max-width: 600px) {
        width: 100%;
        margin-top: 15px;
      }

      .header {
        width: 100%;
        display: flex;
        height: 260px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .body {
        padding: 10px;
        .meta {
          display: flex;
          justify-content: space-between;
          gap: 10px;

          h3 {
            font-size: 16px;
            width: 70%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
        .likes {
          display: flex;
          justify-content: flex-end;
          margin-top: 5px;
        }

        a {
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          margin-top: 4px;
          text-decoration: none;
          padding: 10px 0;
          background-color: rgb(67, 126, 255);
          color: white;
        }
      }
    }
  }
}

.marketName {
  margin: 10px 0 14px 0;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(238, 243, 254);
  margin: 0;
  color: #000;
  height: 150px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
      margin-top: 10px;
      width: 60%;
      text-align: center;
    }
  }

  .rights {
    padding: 5px 0;
  }
}
