.container {
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 100vh;
  background: white;

  .images {
    padding: 0;
    height: 60vh;
    overflow: auto;

    .overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: transparent;
      transition: 0.4s ease-in-out all;
      z-index: -1;
    }
    &.isExpanded {
      .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
      }
    }

    .image {
      width: 100vw;
      height: 56vh;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .infos {
    background-color: #fff;
    // position: fixed;
    bottom: 0;
    transition: 0.4s ease-in-out all;
    width: 100%;
    margin-top: 20px;
    // height: 40vh;
    // box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.098);
    z-index: 999;

    .swipe_box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 0;

      .swiper {
        width: 100px;
        background-color: #c1c1c1;
        border-radius: 10px;
        height: 8px;
      }
    }

    &.isExpanded {
      height: 400px;
    }

    .actions {
      display: flex;
      align-items: center;
      position: fixed;
      bottom: 0%;
      left: 0;
      right: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.327);
      z-index: 99;

      background-color: white;

      p {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 40%;
      }

      button {
        outline: none;
        border: none;
        background-color: white;
        height: 45px;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        color: black;
      }

      .buy {
        width: 35%;

        background-color: rgb(67, 126, 255);
        color: white;
      }

      .like {
        width: 25%;
        border-left: none;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        font-size: 14px;
      }
    }

    .box {
      padding: 12px 16px;
      display: flex;
      flex-direction: column;

      .meta {
        display: flex;

        justify-content: space-between;
        flex-direction: column;
        h1 {
          font-size: 18px;
          font-weight: normal;
          font-family: "Lato", sans-serif;
          margin-top: 4px;
        }

        .rates {
          display: flex;
          align-items: center;
          gap: 7px;
          margin-top: 4px;
          p {
            font-size: 16px;
            color: #9d9d9d;
            font-family: "Lato", sans-serif;
          }
        }
      }

      .pricing {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 18px;
          font-weight: normal;
          font-family: "Lato", sans-serif;

          &:first-child {
            color: red;
          }
        }
      }

      .desciption {
        // display: flex;
        margin-top: 16px;
        margin-left: 15px;
        // p {
        //   font-size: 20px;
        //   color: #737373;
        //   font-family: "Lato", sans-serif;
        // }
      }

      .videos {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      padding-bottom: 60px;
    }
  }
}
