.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(245, 245, 245);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

footer {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 14px;
}

footer p {
  margin-right: 10px;
}

.github-logo {
  height: 25px;
  width: 25px;
}
.rec-slider-container {
  margin: 0 !important;
}

.rec-carousel-wrapper {
  height: 60vh;
}

.video-react .video-react-big-play-button {
  top: 39% !important;
  left: 37% !important;
}
.rec-dot {
  width: 6px !important;
  height: 6px !important;
}
