.product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.product-image {
  max-width: 100%;
  width: 800px;
  min-width: 500px;
  max-height: 100%;
}

.product-details-container {
  flex: 2;
  padding: 1rem;
  min-width: 400px;
  margin-top: 50px;
}

.product-name {
  font-size: 28px;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.product-description {
  font-size: 16px;
  color: #b9bbbf;
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p {
  font-family: "Inter";
}

.product-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-details {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #e4e4e4;
}

.product-prices {
  display: flex;
  flex-direction: column;
}

.product-prices p {
  font-size: 34px;
  color: #3a4980;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.product-prices span {
  font-size: 32px;
  color: #fd3d3d;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.product-details button {
  margin-top: 1rem;
}

.product-purchased {
  display: flex;
  gap: 10px;
}

.product-purchased span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf3ea;
  color: #d48d3b;
  padding: 5px 8px;
  border-radius: 12px;
  gap: 5px;
}

.product-purchased span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #daeda09c;
  color: #bbd278;
  padding: 5px 8px;
  border-radius: 12px;
  gap: 5px;
}

.product-name span {
  font-size: 18px;
}

.purchaseBtn {
  background-color: #46a4ec;
  padding: 19px 93px;
  color: #fff;
  border-radius: 34px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease-in-out all;
}

.proudct-images {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.proudct-images img {
  cursor: pointer;
  object-fit: contain;
  gap: 10px;
}

.purchaseBtn:hover {
  transform: scale(1.03);
}

@media (max-width: 600px) {
  .product-container {
    flex-direction: column !important;
    padding: 15px 10px;
  }

  .product-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  .product-image {
    width: 100%;
    min-width: 100%;
  }

  .product-details-container {
    flex: 2;
    padding: 1rem;
    min-width: 100%;
    margin-top: 50px;
  }

  .product-name {
    font-size: 28px;
    font-family: "Inter";
    margin: 0;
    padding: 0;
  }

  .product-description {
    font-size: 16px;
    color: #b9bbbf;
    font-family: "Inter";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  span,
  p {
    font-family: "Inter";
  }

  .product-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .product-details {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #e4e4e4;
  }

  .product-prices {
    display: flex;
    flex-direction: column;
  }

  .product-prices p {
    font-size: 34px;
    color: #3a4980;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .product-prices span {
    font-size: 32px;
    color: #fd3d3d;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }

  .product-details button {
    margin-top: 1rem;
  }

  .product-purchased {
    display: flex;
    gap: 10px;
  }

  .product-purchased span:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf3ea;
    color: #d48d3b;
    padding: 5px 8px;
    border-radius: 12px;
    gap: 5px;
  }

  .product-purchased span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #daeda09c;
    color: #bbd278;
    padding: 5px 8px;
    border-radius: 12px;
    gap: 5px;
  }

  .product-name span {
    font-size: 18px;
  }

  .purchaseBtn {
    width: 100%;
    background-color: #46a4ec;
    padding: 19px 0;
    color: #fff;
    border-radius: 34px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease-in-out all;
  }
  a {
    text-decoration: none;
  }

  .proudct-images {
    display: flex;
    align-items: center;
    padding: 25px 0;
  }

  .proudct-images img {
    cursor: pointer;
    object-fit: contain;
    gap: 10px;
    width: 50% !important;
  }

  .purchaseBtn:hover {
    transform: scale(1.03);
  }
}

a {
  text-decoration: none;
}
